<!-- Find all other articles with the same tags as the current article, excluding the current article itself, and then take the first 5 such related articles and assign them to the variable $related -->
{{ $related := first 5 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink)}}
<!-- Check to see if a related article exists. If it does, then execute the following code -->
{{ with $related }}
<h3 class="see-also">{{- i18n "related" -}}</h3>
<div class="related">
    <ul>
        {{ range . }}
        <li>
            <a href="{{ .RelPermalink }}" target="_blank">{{ .Title }}</a> <span class="related-date">（{{ .Date |
                time.Format
                "2006-01-02" }}）</span>
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}